body{
    background: black;
}

aside{
    float: left;
    background: darkblue;
    width: 20%;
    padding: 2.5%;
    height: 90%;
    color: #fff;
    border-right: blue;
}
aside img{
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3{
    margin-top: 50px;

}

aside ul{list-style: none}
aside ul li{
    color: #ffffff;
         }

